body {
    font-family: Roboto, sans-serif;
}

.wrapper {
    width: 90%;
    max-width: 1000px;
    border: 10px solid black;
    margin: auto;
    font-size: 50px;
    text-align: center;
}

.wrapper > div {
    display: block;
    padding: 5px;
    color: black;
    overflow: hidden;
}